<nav class="navbar navbar-expand-lg fixed-top">
        <a style="color: #fff" class="navbar-brand mr-auto mr-lg-0" href="{% url 'index' %}">Smart Family Tree</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            </ul>

        </div>
</nav>
