{% extends "base.html" %}
{% load static %}


{% block content %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <img class="mr-3" src="https://image.ibb.co/fzA0uf/images.jpg" alt="" width="48" height="48" style="border-radius: 30%;">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Sahabat Cerdas</h6>
                <small>Sistem Cerdas - C | Ganjil 2018</small><br>
                <small>Aldi Hilman Ramadhani (1606895184) | Izzatul Muttaqin (1606837915) | Muhammad Ilham Peruzzi (1606823475)</small>
            </div>
        </div>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        <div class="container">
            <div class="row">
                <div class="col-8">

                    <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <h6 class="border-bottom border-gray pb-2 mb-0">Family Tree</h6>

                        {% if tree %}
                        {% for tree_name in tree %}
                        <div class="media text-muted pt-3">
                            <a href="{% url 'tree_detail' %}?id={{ tree_name.id }}">
                                <img src="https://i.pinimg.com/originals/39/2c/7b/392c7bceff54fef590ba1d0d4cdf5632.png"
                                    alt="" class="mr-2 rounded" height="48" width="48">
                                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                    <div class="d-flex justify-content-between align-items-center w-100">
                                        <strong class="text-gray-dark">{{ tree_name.name }}</strong>
                                        <a data-toggle="modal" data-target="#confirm" class="btn btn-danger" href="{% url 'delete_tree' %}?id={{ tree_name.id }}">Delete</a>
                                    </div>
                                    <span class="d-block">{{ tree_name.desc }}</span>
                                </div>
                            </a>
                        </div>
                        <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmDataModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Hapus pohon keluarga ini ? Pohon yang dihapus tidak dapat dikembalikan
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                        <a id="confirm-btn" class="btn btn-primary" href="{% url 'delete_tree' %}?id={{ tree_name.id }}">Ya</a>
                    </div>
                </div>
            </div>
        </div>
                        {% endfor %}
                        
                        {% else %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            Tidak ada Tree
        </div>

                        {% endif %}


                    </div>

                </div>

                <div class="col-4">
                    <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <h6 class="border-bottom border-gray pb-2 mb-0">Tambah Pohon</h6>
                        <form action="{% url 'create_tree' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="bg-light form-control" name="treename" placeholder="Nama pohon"
                                   required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="bg-light form-control" name="granpa" placeholder="Nama kakek"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="bg-light form-control" name="granma" placeholder="Nama nenek"
                                    required>
                            </div>
                            <button type="submit" class="btn btn-primary my-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</main>
{% endblock %}