{% extends "base.html" %}
{% load static %}


{% block content %}
      <div id="loader"></div>
      <main role="main" class="container" id="body_container" >
         <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm" style="margin-right: 26px;margin-left: 15px">
            <img class="mr-3" src="https://i.pinimg.com/originals/39/2c/7b/392c7bceff54fef590ba1d0d4cdf5632.png" alt="" width="48" height="48" style="border-radius: 30%;">
            <div class="lh-100">
               <h6 class="mb-0 text-white lh-100">{{ tree.name }}</h6>
               <small>{{ tree.desc }}</small>
            </div>
         </div>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

         

         <div class="container">
            <div class="row">
              <div class="col-6">
                 <div class="p-3 bg-white rounded shadow-sm">
                     <h2 class="border-bottom border-gray pb-2 mb-0">Premis</h2>
                     <div class="media text-muted pt-3">
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                          <ul>
                            <li><h6>
                              Pohon keluarga {{ tree.name }} memiliki anggota keluarga sebagai berikut:
                              <br>{% if keluarga %}
                                {% for anggota in keluarga %}
                                  {{ anggota.name }};
                                {% endfor %}
                              {% endif %}
                            </h6></li>

                            {% if keluarga %}
                              {% for anggota in keluarga_only_male %}
                                {% if anggota.spouse %}
                                <li><h6>
                                  {{ anggota.name }} memiliki pasangan {{ anggota.spouse }}
                                </h6></li>
                                {% endif %}
                              {% endfor %}
                            {% endif %}

                            {% if keluarga %}
                              {% for anggota in keluarga %}
                                {% if anggota.father %}
                                <li><h6>
                                  {{ anggota.name }} merupakan anak dari pasangan {{ anggota.father }} dan {{ anggota.mother }}
                                </h6></li>
                                {% endif %}
                              {% endfor %}
                            {% endif %}

                          </ul>
                        </div>
                     </div>
                  </div>
              </div>

               <div class="col-6">
                  <div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#anggota">Tambah Anggota</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#pasangan">Tambah Pasangan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#relasi">Cari Relasi</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="anggota" class="container tab-pane active bg-white shadow-sm"><br>
      <div >
                   
                   <form action="{% url 'add_anggota' %}?id={{ tree.id }}" method="post">
                     {% csrf_token %}
                     {% for field in form %}
                      <div class="form-group" id="div_{{ field.name }}">
                          {{ field.label_tag }}
                          {{ field }}
                      </div>
                      {% endfor %}
                     <button type="submit" class="btn btn-primary my-2">Submit</button>
                   </form>
                 </div>
    </div>
    <div id="pasangan" class="container tab-pane fade bg-white shadow-sm"><br>
      <div>
                    <form action="{% url 'add_anggota_pasangan' %}?id={{ tree.id }}" method="post">
                      {% csrf_token %}
                      {% for field in spouse_form %}
                       <div class="form-group" id="div_{{ field.name }}">
                           {{ field.label_tag }}
                           {{ field }}
                       </div>
                       {% endfor %}
                      <button type="submit" class="btn btn-primary my-2">Submit</button>
                    </form>
      </div>
    </div>
    <div id="relasi" class="container tab-pane fade bg-white rounded shadow-sm"><br>
      <div>
                    <form id="relasi_form" action="#" method="post">
                      {% csrf_token %}
                      {{ forms }}
                      <button type="submit" class="btn btn-primary my-2">Submit</button>
                    </form>
        </div>
    </div>
  </div>
</div>
               </div>
            </div>
         </div>


      </main>

      <div class="modal fade" id="info_relasi" tabindex="-1" role="dialog" aria-labelledby="confirmDataModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Hasil Pencarian Relasi</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id= modal-body-relasi class="modal-body">
                         
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascript %}
    <script>
    $( document ).ready(function () {
      $("#loader").hide();
      $("#relasi_form").on("submit", function (e) {
        e.preventDefault();
        orang1 = $("#id_orang_pertama").val()
        orang2 = $("#id_orang_kedua").val()
        console.log(orang1)
        console.log(orang2)
        $.ajax({
                method: "POST",
                url: '{% url "cari_relasi" %}?id={{ tree.id }}',
                data: {'orang_pertama':orang1, 'orang_kedua':orang2},
                dataType: 'json',
                beforeSend: function(){
                  console.log("Oke")
               // Show image container
                  $('#loader').show();
                  $('#body_container').css('opacity',0.5);
                },
                success : function (response){
                    console.log(response)
                    $('#body_container').css('opacity',1);
                    $('#loader').hide();
                    $("#info_relasi .modal-body").text(response.hasil);
                    $('#info_relasi').modal('show');
                },
            }); 
    });
    });
    </script>
{% endblock %}